{
    "source": {
        "directories": [
            "src"
        ]
    },
    "testFrameworkOptions": "--exclude-group=functional",
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "1.14.x"
        }
    },
    "minMsi": 70,
    "minCoveredMsi": 85
}
