{% set parts = [] %}
{% if data.channelCodes is not empty %}
    {% set parts = parts|merge([data.channelCodes|join(', ')]) %}
{% endif %}
{% if data.localeCodes is not empty %}
    {% set parts = parts|merge([data.localeCodes|join(', ')]) %}
{% endif %}
{% if data.taxonCodes is not empty %}
    {% set parts = parts|merge(['taxon:' ~ data.taxonCodes|join(', ')]) %}
{% endif %}

{% if parts is empty %}
    <span class="ui grey text">{{ 'setono_sylius_completeness.ui.all'|trans }}</span>
{% else %}
    {{ parts|join(' · ') }}
{% endif %}

{% if data.condition is not null %}
    <i class="filter icon" title="{{ data.condition }}"></i>
{% endif %}
