<div class="ui info icon message">
    <i class="info circle icon"></i>
    <div class="content">
        <div class="header">{{ 'setono_sylius_completeness.ui.contexts'|trans }}</div>
        <p>{{ 'setono_sylius_completeness.ui.context_intro'|trans }}</p>
    </div>
</div>
